body {
            background-color: #a6ccf2;
            font-family: "Roboto Slab", serif;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .form-container{
            width: 100%;
            max-width: 485px;
            box-sizing: border-box;
        }
        h1 {
            font-family: "Changa One", sans-serif;
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }
        label {
            display: inline-block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="email"], 
        input[type="tel"], 
        input[type="date"], 
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box; /* Ensures inputs stay inside the box */
        }
        button {
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            width: 100%;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
        }
        button:hover {
            background-color: #0056b3;
        }
        @media (max-width: 400px) {
        div[style*="display: flex"] {
        flex-direction: column; /* Stacks columns on top of each other */
        gap: 0;
    }
}